body{
	width: 98%
}

.wrapper{
	position: sticky;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sign{
	margin-right: 2em;
	padding-top: 30px;
}

.wrapper2 {
	display: flex;
	justify-content: center;
}
.left{
	font-family: sans-serif;
	color: #0e101a;
	width: 450px;
}

.review{
	position: relative;
	}

	.box-text{
		display: inline-block;
		width: 400px;
		height: 200px;
	}

.box-set{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}


#h1 {
	font-family: sans-serif;
  font-size: 44px;
	}

	.text{
		font-size: 20px;
		font-family: sans-serif;
	}

	.bottom{
		text-align: center;
    width: 98%;


 

